*{
	transition: 0.5s;
}
body {
	perspective: 500px;
	transition: 5s;
	background: #dbe5ec;
}
button {
	cursor: pointer;
}
p, h1, b{
	//color:#dbe5ec;
	cursor: default;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	//text-shadow: 2px 2px 2px rgba(0,0,0,0.3), -2px -2px 2px rgba(255,255,255,0.8);
}
input {
	letter-spacing: 5px;
	color:#000;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3), -2px -2px 2px rgba(255,255,255,0.8);
	padding: 5px;
	border: none;
	border-bottom: 1px solid #000000;
	background: transparent;
	width: 100%;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,0.7), inset 3px 3px 2px rgba(0,0,0,0.1);
}
.content{
	animation: insettransition 4s;
	border: 1px solid #8d8d8d;
	padding: 5px;
	background: rgba(0,0,0,0.1);
	box-shadow: inset -2px -2px 5px rgba(255,255,255,0.9), inset 3px 3px 5px rgba(0,0,0,0.2);
}
.main-boxes{
	border-radius: 10px;
	overflow: auto;
	display: none;
	color: #0a0a0a;
	animation: maintransition 2s;
	font-family: comic sans ;
	background: #dbe5ec;
	box-shadow: -2px -2px 5px rgba(255,255,255,0.9), 3px 3px 5px rgba(0,0,0,0.2);
	position: fixed;
	margin: 0;
	width: 80%;
	height: 70%;
	padding: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-boxes svg, .main-boxes svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
    display: block;
}
.main-boxes svg rect{
    stroke: #0093ff;
    stroke-width: 4;
    stroke-dasharray: 25;
    animation: bordanim 10s linear infinite;
    transition: 1s;
}
.main-boxes:hover svg rect{
	stroke-dashoffset: 0;
}
#loadbar {
	width: 100%;
	height: 20px;
	border: 2px solid #c1c1c1;
	background: #dadada;
	border-radius: 5px;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,0.7), inset 3px 3px 2px rgba(0,0,0,0.1);
}
#loadprogress{
	float: left;
	width: 0%;
	height: 100%;
	margin: auto;
	background: #aafd9a;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,0.7), inset 3px 3px 2px rgba(0,0,0,0.1);
}
.err-msg {
	cursor: default;
	border-radius: 10px;
	font-family: segoe ui ;
	background: #dbe5ec;
	box-shadow: -2px -2px 5px rgba(255,255,255,0.9), 3px 3px 5px rgba(0,0,0,0.2);
	position: fixed;
	margin: 0;
	width: calc(40% - 50px);
	height: auto;
	padding: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: popup 1.5s;
}
.err-msg button{
	margin-top: 20px;
	margin-right: 10px;
	padding: 10px;
	float: right;
	border: none;
	border-radius: 5px;
	background: #98fdac;
	color: #5454ad;
	transition: 0.4s;
	box-shadow: -2px -2px 5px rgba(180,255,201,1), 3px 3px 5px rgba(0,37,0,0.1);
}
.err-msg button:focus{
	border: none;
	color: #8989bd;
	background: #efa9a9;
	box-shadow: inset -2px -2px 5px rgba(255,198,198,0.9), inset 3px 3px 5px rgba(0,0,0,0.2);
}
@keyframes popup {
	0% {opacity: 0;transform: translate(-50%,-50%) rotateY(90deg);}
}
@keyframes red-gradient {
	0% {background: #ff0000}
}
@keyframes bordanim{
	0%{stroke-dashoffset:800;}100%{stroke-dashoffset:0;}
}
@keyframes maintransition {
	0%,40%{box-shadow: none;background: transparent;}
	70%{box-shadow: -2px -2px 5px rgba(255,255,255,0.9), 3px 3px 5px rgba(0,0,0,0.2);}
}
@keyframes insettransition {
	0%,70%{box-shadow: none;background: transparent;color: transparent;text-shadow: none; border:none;}
	80%{text-shadow:none;box-shadow: inset -2px -2px 5px rgba(255,255,255,0.9), inset 3px 3px 5px rgba(0,0,0,0.2);color:transparent;border:none;}
	85%{text-shadow: 1px 1px 3px #000;border:none;}
	90%{color: #000;}
}

.main-boxes::-webkit-scrollbar{
	width: 10px;
	border-left: 1px solid #000;
	box-shadow: -3px 0 5px rgba(255,255,255,0.8);
}
.main-boxes::-webkit-scrollbar-track{
	background: transparent;
}
.main-boxes::-webkit-scrollbar-thumb{
	background:transparent;
	border: 1px solid #7a7a7a;
	box-shadow: -1px -1px 4px rgba(255,255,255,0.9), 2px 2px 5px rgba(0,0,0,0.1);
}