*{
}
body{
	background: #ffffff;
	padding-top: 50px ;
	padding: 5%;
}

/*social media color*/
.social-media{
	margin-left: auto;
	margin-right: auto;
	animation: slide-down 0.6s, gay-border 5s infinite;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
	background: #fafafa;
	width: 300px;
}
.social-media a{
	color: #000;
	text-decoration: none;
	vertical-align: center;
	font-family: signika negative;
	padding: 12px 16px;
	float: none;
	text-align: left;
	display: block;
}
.email, .discord, .instagram, .youtube, .xbox{transition: 0.4s}
.icon{
	margin-right: 8px;
	font-size: 140%;
}
.email:hover {
	background: #70c0c5;
	color: white;
}
.discord:hover {
	background: #5986aa;
	color: white;
}
.instagram:hover {
	background: #ea2d7d;
	color: white;
}
.youtube:hover {
	background: #f32323;
	color: white;
}
.xbox:hover {
	background: #16c05a;
	color: white;
}

.top-nav{
	background: #33b3f7;
	width: 100%;
	height: 50px;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.repo-list{
	box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.2);
	background: #f9f9f9;
}
.repo-list .title{
	font-size: 20px;
}
.repo-list .content{
	padding-left: 12px !important;
	padding: 4px;
	border: 1px solid #7f7f7f;
	transition: 0.7s;
}
.repo-list .content:hover{
	background: #57d26c;
	color: #fff;
	
}
.dropdown{
	transform-origin: top;
	display: none;
	animation: slide-down 0.6s, gay-border 5s infinite;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
	right: 0;
	top:50px;
	position: fixed;
	z-index: 99;
	background: #fafafa;
	width: 40%;
}
.dropdown a{
	color: #000;
	text-decoration: none;
	vertical-align: center;
	font-family: signika negative;
	padding: 12px 16px;
	float: none;
	text-align: left;
	display: block;
}
.dropdown-button .paper-icon {
	font-size: 20px;
}
.dropdown-button{
	box-sizing: border-box;
	position: relative;
	float: right;
	padding: 15px;
	color: white;
	transition: 0.5s;
	height: 100% !important;
}
.dropdown-button:hover{
	border-bottom: 3px  solid #f90;
	color: black;
	background: white;
}
.dropdown-button:hover .dropdown{
	display: block;
}
.scroll-bar{
	background-position: fixed;
	z-index: -2;
	position: absolute;
	background: rgba(53,244,192,0.5);
	height: 100%;
	width: 43%
}
.top-nav .title{
	position: absolute;
	padding: 9px;
	text-shadow: 2px 2px 0 #000;
	color: #fff;
	font-size: 24px;
	font-family: signika negative;
	font-weight: bold;
}
.content{
	letter-spacing: 1px;
	font-family: patrick hand;
}
@media only screen and (max-width: 630px){
.dropdown{
	width: 60%;
}
@media only screen and (max-width: 422px){
.dropdown{
	width: 80%;
}
}
@keyframes slide-down{
	0%{opacity: 0;
	 transform: scaleY(0);
	}
	45%{
	 transform: scaleY(1.1);
	}
	75%{
	 transform: scaleY(0.95);
	}
}
@keyframes gay-border {
	0%, 100%{border: 1px solid #f00;}
	20%{border: 1px solid #ff0;}
	40%{border: 1px solid #0f0;}
	60%{border: 1px solid #0ff;}
	80%{border: 1px solid #00f;}
}